body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #111;
    color: white;
    padding: 20px;
}

h1 {
    color: #FFD700;
}

button {
    background-color: #ff9800;
    color: white;
    font-size: 20px;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e68900;
}
